<div class="main-content">
  <div class="container-fluid" *ngIf="showListeUsers">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- Card Header -->
          <div
            class="card-header card-header-danger d-flex justify-content-between"
          >
            <!-- Card Title -->
            <h4 class="card-title">List of users</h4>

            <!-- Search Container -->
            <div class="search-container">
              <form (ngSubmit)="onSearchFormSubmit(searchInput.value)">
                <div class="input-group no-border">
                  <input
                    #searchInput
                    type="text"
                    value=""
                    class="form-control-search p-0"
                    placeholder="Search..."
                  />
                  <button
                    mat-raised-button
                    type="submit"
                    class="btn btn-white btn-round btn-just-icon m-0"
                  >
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- Card Body -->
          <div class="card-body">
            <!-- Table Body -->
            <!-- Display loading indicator -->
            <div *ngIf="loading" class="text-center mt-3 text-danger-emphasis">
              <i class="fas fa-spinner fa-spin fa-3x"></i>
              <p>Loading...</p>
            </div>
            <!-- Display table -->
            <div *ngIf="!loading">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Email</th>
                    <!-- <th>Password</th>-->
                    <th>Role</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td>{{ user.nom }}</td>
                      <td>{{ user.prenom }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.roles }}</td>
                      <td>
                        <i
                          class="fa fa-trash delete-icon"
                          style="
                            font-size: 24px;
                            color: red;
                            cursor: pointer;
                            margin-right: 10px;
                          "
                          (click)="deleteUser(user.id)"
                        >
                        </i>
                        <i
                          class="fa fa-edit edit-icon"
                          style="font-size: 24px; color: red; cursor: pointer"
                          (click)="showEditForm(user)"
                        ></i>
                      </td>
                    </tr>
                    <tr *ngIf="users.length === 0">
                      <td colspan="6">no records found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Add Floating Button -->
          <button class="floating-button" (click)="openModal(false)">
            <i class="fas fa-user-plus"></i>
          </button>

          <!-- Edit Form -->
          <ng-template #editFormTitle>
            <span>Edit User</span>
          </ng-template>

          <ng-template #editFormTemplate>
            <form [formGroup]="editForm" *ngIf="showEditFormRow">
              <div class="form-row">
                <div class="form-group">
                  <label>Last Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nom"
                    required
                  />
                </div>
                <div class="form-group">
                  <label>First Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="prenom"
                    required
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>Email:</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    required
                  />
                </div>
                <!--<div class="form-group">
                  <label>Password:</label>
                  <span
                    class="password-icon"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      class="fas"
                      [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                    ></i>
                  </span>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    [type]="showPassword ? 'text' : 'password'"
                    required
                  />
                </div>-->
              </div>
              <div class="form-group">
                <label>Role:</label>
                <select class="form-select" formControlName="role">
                  <option value="Admin">Admin</option>
                  <option value="Encadrant">Encadrant</option>
                  <option value="Evaluateur">Evaluateur</option>
                </select>
              </div>
            </form>
          </ng-template>

          <ng-template #editFormSaveButton>
            <button
              mat-raised-button
              type="submit"
              class="btn"
              style="background-color: #0d6efd"
              (click)="onSubmit(true)"
            >
              Edit User
            </button>
          </ng-template>

          <!-- Add Form -->
          <ng-template #addFormTitle>
            <span>Add User</span>
          </ng-template>

          <ng-template #addFormTemplate>
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Fist Name"
                      type="text"
                      [(ngModel)]="formData.firstName"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Last Name"
                      type="text"
                      [(ngModel)]="formData.lastName"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Email address"
                      type="email"
                      [(ngModel)]="formData.email"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Password"
                      type="password"
                      [(ngModel)]="formData.password"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Role:</label>
                  <select class="form-select" [(ngModel)]="formData.role">
                    <option value="Admin" selected>Admin</option>
                    <option value="Encadrant">Encadrant</option>
                    <option value="Evaluateur">Evaluateur</option>
                  </select>
                </div>
              </div>
            </form>
          </ng-template>

          <ng-template #addFormSaveButton>
            <button
              mat-raised-button
              type="submit"
              class="btn"
              style="background-color: #0d6efd"
              (click)="onSubmit(false)"
            >
              Add User
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Result Table -->
  <div class="user-details-container mx-auto" *ngIf="displayedUser">
    <div class="user-details">
      <h3>User Details</h3>
      <table class="table table-bordered" id="tableUserDetails">
        <tbody>
          <tr>
            <th>Last Name</th>
            <td>{{ displayedUser.nom }}</td>
          </tr>
          <tr>
            <th>First Name</th>
            <td>{{ displayedUser.prenom }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ displayedUser.email }}</td>
          </tr>
          <tr>
            <th>Role</th>
            <td>{{ displayedUser.role }}</td>
          </tr>
        </tbody>
      </table>
      <!-- Cancel button to hide the user details -->
      <button class="cancel-button btn btn-danger" (click)="onCancel()">
        <i class="fas fa-times-circle"></i> Cancel
      </button>
    </div>
  </div>
</div>
